<div class="row text-center">
  <div class="col-12 text-center">
    <h2 id="username">User: {{name}}.</h2>
    <h5 id="usernameId">Id: #{{id}}</h5>
  </div>
</div>



  <div class="row">
    {{#if posts.length}}
    <div class="col-12 post-list">
      <h3 id="recent-posts">Recent Posts:</h3>
      {{#each posts as |post|}}
      <div class="col-12 recent-post-card">
        <div class="card">
          <div class="card-header">
            <h4><a href="/post/{{post.id}}">{{post.title}}</a><span> - {{format_date post.date_created}}</span></h4>
          </div>
          <div class="card-body">
            <p>{{post.content}}</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}