  <div class="col-md-6">
    <form class="form update-post-form">
      <div class="form-group">
          <h4>{{title}}</h4><span> - {{format_date date_created}}</span>
      </div>
      <div class="form-group">
        <label for="post-desc"></label>
        <textarea class="form-input" id="post-desc" name="post-desc" placeholder="{{content}}">{{content}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" data-id="{{id}}" id="editBtn">UPDATE</button>
      </div>
    </form>
  </div>

  <script src="/js/updatePost.js"></script>